<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sakshay.grocermax"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- <uses-permission android:name="com.shopclues.permission.C2D_MESSAGE" /> -->
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- for flurry analytics -->

    <uses-feature
        android:name="android.hardware.TELEPHONY"
        android:required="false" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".hotoffers.HotOffersActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".LocationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".DealListScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".DeliveryDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".UserHeaderProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".BillingAddress"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ShippingAddress"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".CODConfirmation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".CategoryTabs"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".AddressDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".UserProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".OrderHistory"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".EditProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".OrderDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".DashBoardScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ProductDetailScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".BrowseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".CategoryList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ProductListScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Registration"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ChooseAddress"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".CreateNewAddress"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".CartProductList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ReviewOrderAndPay"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".OffersPromoCode"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.payu.sdk.ProcessPaymentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.payu.sdk.PaymentOptionsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".PayTMActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".MobiKwikWallet"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".SearchTabs"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GooglePlus"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".api.ConnectionService" />
        <service android:name=".api.ConnectionCartService" />

        <meta-data
            android:name="payu_merchant_id"
            android:value="yPnUG6" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/facebook_app_name" />

        <activity
            android:name="com.paymentsdk.android.PaymentSDKRequestHandler"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="Mobikwik Payments"
            android:theme="@style/LightErrorFix"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="MobikwikSDK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.paymentsdk.android.PaymentOptionsSelector"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Secure Payment Gateway"
            android:launchMode="singleTop"
            android:theme="@style/LightErrorFix"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.paymentsdk.android.CardOrNetbanking"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Payment Method"
            android:theme="@style/LightErrorFix"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.paymentsdk.android.PGResponseHandler"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Payment Gateway Response"
            android:theme="@style/LightErrorFix"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.paymentsdk.android.AddBalance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Payment"
            android:theme="@style/LightErrorFix"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.paymentsdk.android.PGWebView"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Secure Payment Gateway"
            android:theme="@style/LightErrorFix"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.paymentsdk.android.WalletDebitConfirmation"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Payment Confirmation"
            android:theme="@style/LightErrorFix"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.paymentsdk.android.PGPaymentConfirmation"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Payment Confirmation"
            android:theme="@style/LightErrorFix"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.paymentsdk.android.WalletResponseHandler"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Payment Response"
            android:theme="@style/LightErrorFix"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.paymentsdk.android.GetUserDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Enter Details"
            android:theme="@style/LightErrorFix"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.paymentsdk.android.DirectPayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="DirectPay"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.paymentsdk.android.PaymentHostActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Payment"
            android:launchMode="singleTop"
            android:theme="@style/LightErrorFix"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.paymentsdk.android.AddCardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Add Card"
            android:theme="@style/LightErrorFix"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.sakshay.grocermax" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GCM.GCMIntentService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".OneTimePassword"
            android:label="@string/title_activity_one_time_password" >
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="@string/title_activity_category" >
        </activity>
    </application>

</manifest>
