<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rgretail.grocermax"
    android:versionCode="12"
    android:versionName="1.4.7">

    <!-- package="com.rgretail.grocermax.permission.MAPS_RECEIVE" -->

    <!-- <uses-sdk android:minSdkVersion="14" />-->

    <permission
        android:name="com.rgretail.grocermax.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- <uses-permission android:name="com.shopclues.permission.C2D_MESSAGE" /> -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.rgretail.grocermax.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- for flurry analytics -->

    <uses-feature
        android:name="android.hardware.TELEPHONY"
        android:required="false" />

    <uses-permission android:name="android.permission.GET_TASKS" />
   <!-- <uses-permission android:name="com.rgretail.grocermax.permission.C2D_MESSAGE" />-->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".preference.AlarmService" />

        <receiver android:name=".preference.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <!--<receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>-->

        <receiver
            android:name="com.rgretail.grocermax.GrocermaxInstallReferalReciever"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hotoffers.HomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:clearTaskOnLaunch="true"
            android:windowSoftInputMode="adjustResize|stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="grocermax"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CityActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".DealListScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".DeliveryDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".UserHeaderProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".BillingAddress"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ShippingAddress"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".CODConfirmation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".CategoryTabs"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".AddressDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".UserProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".OrderHistory"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".EditProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".OrderDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".UnderMaintanance"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ProductDetailScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ProductListScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Registration"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".CreateNewAddress"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".CartProductList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ReviewOrderAndPay"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".OffersPromoCode"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.payu.sdk.ProcessPaymentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.payu.sdk.PaymentOptionsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".PayTMActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".SearchTabs"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />

        <!--
        <activity
            android:name=".GooglePlus"
            android:screenOrientation="portrait" />
        -->
            <!--   meta data for Rocq Notification-->




        <meta-data
            android:name="rocq_homescreen"
           android:value="com.rgretail.grocermax.hotoffers.HomeScreen" />

        <!--     -->


    <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".api.ConnectionService" />
        <service android:name=".api.ConnectionCartService" />
        <service android:name=".info.ContactInfoService" />

        <meta-data
            android:name="payu_merchant_id"
            android:value="yPnUG6" />

       <!-- <activity
            android:name="com.facebook.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/facebook_app_name" />



        <!--for mobikwik integration-->



        <!--   -->




        <!--for citrus integration-->
        <activity
            android:name="com.citrus.sdk.ui.activities.CitrusUIActivity"
            android:label="@string/title_activity_citrus"
            android:theme="@style/CitrusAppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name="com.citrus.sdk.ui.activities.LoginFlowActivity"
            android:label="@string/title_activity_login_flow"
            android:theme="@style/CitrusAppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <!---->


        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.rgretail.grocermax" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GCM.GCMIntentService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver android:name=".GCM.GCMIntentService$DownloadCancelReceiver" android:exported="false">
            <intent-filter>
                <action android:name="ONE_STAR" />
                <action android:name="TWO_STAR" />
                <action android:name="THREE_STAR" />
                <action android:name="FOUR_STAR" />
                <action android:name="FIVE_STAR" />
            </intent-filter>
        </receiver>

        <receiver android:name=".IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".OneTimePassword"
            android:label="@string/title_activity_one_time_password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".CategoryActivity1"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".ProductSorting"
            android:label="@string/title_activity_product_sorting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".WalletActivity"
            android:label="@string/title_activity_wallet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".WalletTransaction"
            android:label="@string/title_activity_wallet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".PhoneNumberForOTP"
            android:label="@string/title_activity_wallet"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".TermAndCondition"
            android:label="@string/title_activity_wallet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".CategoryOffer"
            android:label="@string/title_activity_wallet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".PramotionPage"
            android:label="@string/title_activity_wallet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".CouponPage"
            android:label="@string/title_activity_wallet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <activity
            android:name=".RedeemHistory"
            android:label="@string/title_activity_wallet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>



        <!--  Add preview activity gor google gtm. -->
        <activity
            android:name="com.google.android.gms.tagmanager.PreviewActivity"
            android:label="@string/app_name"
            android:noHistory="true">  <!-- optional, removes the previewActivity from the activity stack. -->
            <intent-filter>
                <data android:scheme="com.rgretail.grocermax" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>



        <!--for invite referal-->

        <meta-data android:name="invitereferrals_bid" android:value="6184" ></meta-data>
        <meta-data android:name="invitereferrals_bid_e" android:value="F9337B2292DD70FDD88257E6750D67F5" ></meta-data>

        <!--<meta-data android:name="invitereferrals_bid" android:value="11171" ></meta-data>
        <meta-data android:name="invitereferrals_bid_e" android:value="05070B940F1554ECE25E6F856D95D2D5" ></meta-data>-->

    </application>

</manifest>
